html, body {
  font-family: 'Noto Sans HK', Calibri;
  margin: 0;
/*   color: #FFF7F7; */
}

.container {
  display: flex;
  flex-direction: column;
}

body{
background: url(https://res.cloudinary.com/marcmdion/image/upload/v1561602070/bgw_eywmyp.jpg) fixed;  
  background-size: cover
}

#navbar {
  width: 300px;
  min-width: 250px;
  height: 100%;
  border-right: 2px solid black;
  position: fixed;
  background-color: rgba(0,0,100, 0.1);
  margin: 0 auto;
}



#main-doc {
  margin-left: 350px;
  line-height: 1.5;
}

header {
font-weight: bold;
font-size: 1.5rem;
padding: 10px;

}


a {
  text-decoration: none;
}


#navbar li {
  border: 1px solid black;
  width: 100%;
  font-size: 1.5em;
  padding: 5px 0px;
  position: relative;
  list-style: none;
  text-align: center;
}

#navbar li:first-child {
  border-top: 2px solid black;
}

#navbar li:last-child {
  border-bottom: 2px solid black;
}

#navbar ul {
  padding: 0;
  overflow-x: hidden;
}

#navbar a {
  color: black;
}

code {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

@media only screen and (max-width:500px) {
  #navbar {
    width: 100%;
    position: relative;
  }
  
  #main-doc {
    width: 90%;
    margin-left: 20px;
    padding: 25px;
  }
  
}s